/*-=[ Layout ]=------------------------*/

.left {
  float:left;
}
.right {
  float: right;
}

.text-right {
  text-align: right;
}

body {
  background: #fff url('../img/groovepaper.png') repeat;
}

header {
  background: #fff url('../img/techCLT_header.png') repeat-x center top;
}

.main-header {
  height: 166px;
}
.main-menu {
  margin: 1.75em 0;
}

.blurb {
  padding: 3em 0;
}
.blurb p {
  margin: 0 0;
}

footer {
  margin: 5em 0 2em 0;
}

.frank {
  margin-top: 3em;
}

#front-content {
  margin-top: 3em;
}

.breadcrumb {
  margin-top: 1em;
}

/*-=[ Typography ]=------------------------*/

.main-menu a,
.blurb p,
.title,
.profile .field-name-field-profile-name,
.page-user .field-label,
.node-group .field-label,
.node-company .field-label,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'vast shadow', serif;
  font-weight: normal;
}

.event-title,
.event-location,
.event-date,
.content,
footer,
body,
a {
  font-family: 'Lato', sans-serif;
  color: #807d73;
}

.blurb-blue {
  font-family: 'playball', sans-serif;
  font-size: 1.5em;
  color: #82aed2;
  text-transform: capitalize;
  text-shadow: 3px 3px 2px #111;
}

.main-menu a {
  color: #807d73;
  text-transform: lowercase;
  font-size: 1em;
}
.main-menu ul li a {
  text-decoration: none;
  padding: 0 0.75em;
}
li.active a,
.main-menu a:active,
.main-menu a:hover {
  color: #ff847f;
}

.blurb {
  margin: 0 0;
  width: 100%;
  background-color: #cac6b8;
  background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(123, 121, 111)), to(rgb(202, 198, 184)));
  background-image: -webkit-radial-gradient(50% 50%, rgb(202, 198, 184), rgb(123, 121, 111));
  background-image: -moz-radial-gradient(50% 50%, rgb(202, 198, 184), rgb(123, 121, 111));
  background-image: -o-radial-gradient(50% 50%, rgb(202, 198, 184), rgb(123, 121, 111));
  background-image: -ms-radial-gradient(50% 50%, rgb(202, 198, 184), rgb(123, 121, 111));
  background-image: radial-gradient(50% 50%, rgb(202, 198, 184), rgb(123, 121, 111));
}
.blurb p {
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.event-listing {
  margin: 0 0 0 2em;
}
.event-listing h2 {
  margin: 0;
  padding: 0.5em 0 0.5em 1em;
  text-transform: uppercase;
  color: #fff;
  border-bottom-width: 1px;
  border-bottom-color: #999;
  border-bottom-style: solid;
  background-color: #ff847f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 167, 164)), to(rgb(251, 130, 125)));
  background-image: -webkit-linear-gradient(top, rgb(252, 167, 164), rgb(251, 130, 125));
  background-image: -moz-linear-gradient(top, rgb(252, 167, 164), rgb(251, 130, 125));
  background-image: -o-linear-gradient(top, rgb(252, 167, 164), rgb(251, 130, 125));
  background-image: -ms-linear-gradient(top, rgb(252, 167, 164), rgb(251, 130, 125));
  background-image: linear-gradient(top, rgb(252, 167, 164), rgb(251, 130, 125));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fca7a4', EndColorStr='#fb827d');
}
.event-listing ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.event-listing li {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #807d73;
  margin: 1em 0 1.5em 0 !important;
}
.event-listing a,
.event-listing a:hover,
.event-listing a:visited {
  text-decoration: none;
  color: #807d73;
}
.event-listing .views-field-title,
.event-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.6em 0 0.2em 0;
}
.event-location {
  font-size: 1.4em;
}
.event-listing .views-field-field-event-date-time,
.event-date {
  font-size: 1.2em;
  color: #ff847f;
  margin: 0 0 0.3em 0;
  text-align: right;
}
.see-all a {
  text-decoration: none;
  color: #82aed2;
}

footer a,
footer a:visited {
  text-decoration: none;
  color: #ff847f;
}

/*-=[ SFX ]=--------------------------------*/

.drop-shadow {
  position: relative;
  width: 90%;
}

.drop-shadow:before,
.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.drop-shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

.page-user h1#page-title.title {
  display: none;
}

.profile .field-name-field-profile-name {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  }

.field-name-field-profile-bio {
  font-style: italic;
}

.field-name-field-profile-links a,
.field-name-field-group-website a,
.field-name-field-company-website a {
  text-decoration: none;
  font: bold 1em/2em 'Lato', sans-serif;
  color: #fff;
  background: #82aed2 url('../img/arrow1_e.png') no-repeat 3px;
  margin: 0.5em 0;
  padding: 0.1em 0.5em 0.3em 2em;
}

.page-user .field-label,
.node-group .field-label,
.node-company .field-label,
.field-name-field-group-logo .field-item,
.field-name-field-company-logo .field-item {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.field-name-field-profile-technologies .field-items div,
.field-name-field-group-tags .field-items div,
.field-name-field-group-technologies .field-items div,
.field-name-field-company-tags .field-items div,
.field-name-field-company-technologies .field-items div {
  display: inline;
  padding: 0 0.5em 0 0;
}

.field-name-field-profile-technologies .field-items a,
.field-name-field-group-tags .field-items a,
.field-name-field-group-technologies .field-items a,
.view-groups .views-field-title a,
.view-companies .views-field-title a {
  color: #FF847F;
}

.view-groups .views-field-title a,
.view-companies .views-field-title a {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.7em;
  text-decoration: none;
}

.view-groups .views-row,
.view-companies .views-row {
  border-bottom: 3px solid #807d73;
}

.views-row .views-field {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.view-events span.views-field-title {
  display: block;
  padding: 0 0 0 1em;
}